* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* html, body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

 .page-container {
  flex: 1 0 auto;
  /* padding: 10px; */
}

footer {
  flex-shrink: 0;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  /* margin-top: auto; */
} 

.box {
  /* background-color: #444;
  color: #fff; */
  /* border-radius: 3px; */
  padding: 20px;
  /* font-size: 150%; */
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.Grid-with-gap {
  /* width: 100; */
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: minmax(25%, 40%) 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}

.Grid-pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Grid2 {
  display: grid;
  /* border:1px solid #000; */
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto;
  /* grid-gap: 5px; */
}

.Item-center {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

